@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import 'tailwindcss';

@font-face {
    font-family: "Modern Negra";
    src: url("/fonts/Modern Negra Demo.ttf") format("truetype");
}

@theme {
    --color-yellow: #e7d393;
    --color-white-100: #efefef;
    --font-sans: "Mona Sans", sans-serif;
    --font-modern-negra: "Modern Negra", sans-serif;
    --font-serif: "DM Serif Text", serif;
}

html,
body {
    @apply w-full overflow-x-hidden bg-black text-white font-sans scroll-smooth
}

span {
    @apply inline-block
}

@utility flex-center {
    @apply flex justify-center items-center
}

@utility section-container {
    @apply container mx-auto px-5
}

@utility bg-noisy {
    @apply absolute bg-[url('/images/noise.png')] size-full
}

@utility header-gradient {
    @apply bg-linear-to-b from-white to-[#898989] bg-clip-text text-transparent
}

@utility section-radial {
    @apply bg-radial-[circle_at_center] from-0% from-[#434343] via-50% via-black to-transparent to-100%
}

@utility img-mask {
    @apply mask-[url(/images/mask-img.png)] mask-center mask-no-repeat mask-size-[50%]
}

@layer components {
    main {
        @apply w-full overflow-x-hidden;
    }

    nav {
        @apply fixed w-full z-50;

        div {
            @apply section-container flex flex-col md:flex-row items-center md:justify-between gap-6 py-5 lg:px-0;
        }

        a {
            @apply cursor-pointer flex items-center gap-2 text-sm md:text-base text-nowrap;
        }

        span {
            @apply -mb-2 text-3xl font-modern-negra
        }

        ul {
            @apply flex-center gap-7 lg:gap-12;
        }
    }

    #hero {
        @apply relative w-full min-h-dvh bg-noisy flow-root z-10;

        h1 {
            @apply mt-40 md:mt-32 text-8xl md:text-[20vw] text-center font-modern-negra leading-none;
        }

        .hero-body {
            @apply absolute lg:bottom-20 w-full z-10;

            .hero-content {
                @apply section-container flex flex-col lg:flex-row justify-between gap-10 items-center lg:items-end text-center lg:text-start;

                .tagline {
                    @apply hidden md:block space-y-5;

                    .subtitle {
                        @apply max-w-xl text-yellow text-6xl font-modern-negra
                    }
                }

                .hero-details {
                    @apply w-full md:max-w-xs lg:max-w-2xs space-y-5 text-lg;

                    a {
                        @apply font-semibold opacity-80 hover:text-yellow
                    }
                }
            }
        }

        .hero-right-leaf {
            @apply absolute top-1/2 xl:top-0 2xl:top-12 right-0 md:bottom-0 w-24 md:w-fit
        }

        .hero-left-leaf {
            @apply absolute -bottom-20 md:top-20 xl:top-36 2xl:top-52 left-0 w-1/3 md:w-fit
        }

        .hero-arrow {
            @apply absolute 2xl:top-1/2 2xl:-translate-y-1/3 right-20 hidden xl:block
        }
    }

    .video {
        @apply absolute inset-0;

        video {
            @apply absolute bottom-0 left-0 w-full h-1/2 md:h-[80%] object-bottom object-cover md:object-contain
        }
    }

    #cocktails {
        @apply relative min-h-dvh bg-noisy overflow-hidden;

        img {
            @apply absolute -top-20 md:top-auto md:bottom-0 md:w-fit w-1/3;
        }

        .cocktail-right-leaf {
            @apply right-0;
        }

        .cocktail-left-leaf {
            @apply left-0;
        }

        .cocktail-lists {
            @apply relative flex flex-col md:flex-row md:justify-between gap-20 section-container pt-40 2xl:px-0;

            .loved-cocktails {
                @apply mb-20 md:pb-0;
            }

            section {
                @apply space-y-9 w-full md:w-fit;

                h2 {
                    @apply text-xl font-medium;
                }

                ul {
                    @apply space-y-9;

                    li {
                        @apply flex justify-between;

                        div {
                            @apply md:me-28;

                            h3 {
                                @apply text-yellow font-modern-negra text-xl 2xl:text-3xl;
                            }

                            p {
                                @apply text-sm;
                            }
                        }

                        span {
                            @apply text-xl font-medium
                        }
                    }
                }
            }
        }
    }

    #about {
        @apply section-container min-h-dvh py-28 2xl:px-0;

        .about-content {
            @apply flex flex-col lg:flex-row justify-between gap-5 px-5 md:px-0 pb-16;

            .badge {
                @apply mb-8 rounded-full px-5 py-2.5 bg-white text-black text-sm font-medium;
            }

            h2 {
                @apply max-w-lg text-5xl md:text-6xl font-modern-negra;
            }

            .about-details {
                @apply space-y-5;

                p {
                    @apply max-w-lg md:text-lg;
                }

                .testimonial {
                    @apply grid grid-cols-1 md:grid-cols-12 gap-y-5;

                    .rating {
                        @apply md:col-span-6 space-y-5;

                        li {
                            @apply inline-block;
                        }

                        span {
                            @apply text-2xl font-bold;
                        }

                        p {
                            @apply text-white-100 text-sm
                        }
                    }

                    .profiles {
                        @apply md:col-span-6 flex-center md:border-l md:border-[#565656];

                        .profiles-list {
                            @apply relative size-fit px-6 py-5 rounded-full bg-noisy;

                            img {
                                @apply w-[44px] h-[44px] inline-block not-first:-ml-2.5;
                            }
                        }
                    }
                }
            }
        }

        .grid {
            @apply grid gap-5 px-5 md:px-0;

            .card {
                @apply relative md:h-72 overflow-hidden rounded-3xl before:bg-noisy;

                img {
                    @apply w-full h-full object-cover
                }

                .features-card {
                    @apply flex md:flex-center flex-col md:text-lg gap-4 mt-10 mb-9 px-5;

                    h3 {
                        @apply border-b pb-2 text-2xl md:text-3xl font-modern-negra
                    }
                }
            }
        }
    }

    .features-list {
        @apply space-y-4;

        li {
            @apply flex items-center gap-2
        }
    }

    #art {
        @apply relative min-h-dvh flex-center flex-col mt-20 section-radial;

        .art-container {
            @apply section-container h-full pt-20;

            h2 {
                @apply relative mb-8 text-[#505050] text-8xl md:text-[20vw] font-modern-negra text-center text-nowrap;
            }

            .art-content {
                @apply flex flex-col md:flex-row justify-between gap-10 mt-40 md:mt-0 md:mb-16;

                .cocktail-img {
                    @apply absolute top-0 md:top-1/2 md:-translate-y-1/2 left-1/2 -translate-x-1/2 w-full md:w-[60vw] h-[50vh] md:h-[70vh] rounded-4xl overflow-hidden;

                    img {
                        @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 size-full object-contain img-mask;
                    }
                }
            }
        }

        .masked-container {
            >h3 {
                @apply pt-10 md:pt-32 text-center text-4xl md:text-5xl font-modern-negra text-nowrap
            }

            .masked-content {
                @apply absolute bottom-52 md:bottom-5 left-1/2 -translate-x-1/2 opacity-0 space-y-5 px-5 md:px-0 text-center;

                h3 {
                    @apply w-80 md:w-full text-2xl md:text-5xl font-serif;
                }

                p {
                    @apply text-lg
                }
            }
        }
    }

    #contact {
        @apply relative w-full mt-0 md:mt-20 px-4 section-radial overflow-hidden;

        .footer-content {
            @apply flex flex-col justify-center gap-10 min-h-dvh section-container py-16 lg:py-14 text-center;

            h2 {
                @apply text-4xl lg:text-6xl 2xl:text-8xl font-modern-negra translate-y-5
            }

            h3 {
                @apply text-base uppercase 2xl:text-lg
            }

            div, address {
                @apply space-y-2
            }

            address {
                @apply not-italic
            }

            .socials ul {
                @apply flex justify-center
            }
        }

        .footer-right-leaf {
            @apply hidden md:block absolute top-0 right-0
        }

        .footer-left-leaf {
            @apply absolute bottom-0 left-0 w-1/2 md:w-fit
        }

        .footer-drinks {
            @apply absolute bottom-0 right-0 w-1/2 md:w-96
        }
    }
}